<table>
  <tr>
    <th> Dog Name </th>
    <th> Dog Breed </th>
    <th> Age </th>
    <th> Owner Name </th>
  </tr>

  <tbody>
    <% @dogs.each do |dog| %>
      <tr>
        <td> dog name </td>
        <td> dog breed </td>
        <td> dog age </td>
        <td> dog's owner's name</td>
      </tr>
      <% end %>
      </tbody>
</table>
